doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles/style.styl")
    title Funciona!
  body
    #inner
      main
        h1 TODO aguas abiertas, cada semana
        h2 Un email GRATIS (los viernes) con los últimos artículos y noticias
        div#form
          include ./views/ac-form.pug
          p solo recibirás un email cada viernes
            br
            |Nada más, prometido. Y puedes salirte cuando quieras
        //- #text
          p Accusantium repellendus dolores officiis molestias
          p nisi explicabo nobis aliquam dolore
          p eius aut ipsa culpa id aliquid alias tenetur atque neque voluptate iste
    footer
      p Copyright ©2021 RV. Algunos derechos reservados.
      p 
        a(href="mailto:ruben@trajesneopreno.es") Contacto
        |  · 
        a(href="#") Política de Privacidad, de Cookies y Aviso Legal