doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.styl")

    title Funciona!
  body
    #inner
      main
        h1 Lorem ipsum dolor sit amet
          br
          | consectetur adipisicing elit!
        #form
          #fields
            input(placeholder="tu email aquí")
            button Me apunto!
          p solo recibirás un email cada viernes
            br
            |nada más, prometido
        #text
          p Accusantium repellendus dolores officiis molestias
          p nisi explicabo nobis aliquam dolore
          p eius aut ipsa culpa id aliquid alias tenetur atque neque voluptate iste